.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cash-withdrawal-container {
  background-color: #150b3e;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .cash-withdrawal-container {
    width: 50%;
    max-width: 400px;
    padding: 25px;
  }
}

.user-details-container {
  display: flex;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #c7d2fe;
}

@media screen and (min-width: 768px) {
  .initial-container {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

.initial {
  color: #7c3aed;
  font-size: 18px;
  font-family: 'Roboto';
}

.name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
    margin-left: 16px;
  }
}

.balance-container {
  display: flex;
  justify-content: space-between;
}

.your-balance {
  color: #585076;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .your-balance {
    font-size: 20px;
    margin-top: 8px;
  }
}

.balance {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .balance {
    font-size: 20px;
  }
}

.currency {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .currency {
    font-size: 12px;
  }
}

.withdraw {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .withdraw {
    font-size: 24px;
    margin-top: 24px;
  }
}

.choose-sum {
  color: #585076;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .choose-sum {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.denominations-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
